/64194583
/aula 7
/AutodeskMaterial Library2020
/BACKUP SALVAR
/CSS8
/desktop.ini
/jogo
/Microsoft Edge.lnk
/NAV
/Navegador Opera GX.lnk
/Nova pasta
/Pasta Programação
/tela
/Visual Studio Code.lnk
/vsc